# Local Secrets & Config
.env
.env.*
*.local
!.env.example

# Node / React / Express / Vite
node_modules/
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# VSCode
.vscode/*
!.vscode/extensions.json

# IDE
.idea/